<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rsudataingestor20230508075520.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/93ea6ff4-9610-41aa-9d4f-39ada71fb8ea/resourcegroups/thesis-v2s-digital-twin/providers/Microsoft.Web/sites/RSUDataIngestor20230508075520</ResourceId>
    <UserName>$RSUDataIngestor20230508075520</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://rsudataingestor20230508075520.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>