<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="avAddress" value="0x8f4410d9cD82b5D4108d2b6ADc95e1375e4c75eF" />
	<add key="selfAddress" value="0xc9D4a723C47F9E2Ee3Aa813D4384e3d0855BD715" />
	<add key="infuraApikey" value="87deefc774f04134bb6afb66d6bf3cb5" />
</appSettings>
</configuration>